button {
  width: fit-content;
  border: none;
  margin: 0;
  border-radius: var(--border-rad);
}

.primary-btn {
  padding: var(--btn-pads-primary);
  background-color: var(--btn-color-primary);
  color: white;

  svg>* {
    stroke: white;
  }

}